@charset "UTF-8";

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 75px;
	width: 100%;
	height: 100%;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center; 
	background : green;
	width: 100%;
	height: 100%;
}

#content_detail {
	width: 1000px;
	background: white;
	border: 1px solid black;
	display: flex;
}

#content_detail #product_img {
	width: 400px;
	height: 400px;
	overflow: hidden;
}

#content_detail #product_img img {
	height: 400px;
	padding: 10px;
}

#content_detail #product_info {
	width: 600px;
	padding: 10px 20px;
	position: relative;
}

#content_detail #product_info #product_name {
	font-size: 30px;
}

#content_detail #product_info #product_description {
	font-size: 20px;
}

#content_detail #product_info #product_price {
	font-size: 30px;
}

#content_detail #product_info #bottom {
	border-top: 1px solid black;
	padding: 20px;
	width: 95%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#content_detail #product_info #bottom #reaction .reaction_content {
	margin-bottom: 10px;
}

#content_detail #product_info #bottom #reaction .reaction_content img {
	width: 25px;
}

#content_detail #product_info #bottom button {
	padding: 10px;
	background: white;
	border: 1px solid black;
}