@charset "UTF-8";

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 75px;
}

#content {
	display: flex;
	justify-content: center;
}

#products {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
}
#products .product {
	width: 200px;
	text-align: center;
}
#products .product:hover {
	box-shadow: 0 0 0 1px black inset;
}
#products .product .product_img {
	padding: 3px;
	width: 195px;
	height: 195px;
	overflow: hidden;
}
#products .product .product_img img {
	height: 200px;
}
#products .product .product_name {
	margin-top: 5px;
	font-size: 15px;
}
#products .product .product_price {
	font-size: 20px;
}